<div class="form-new">
<h1>Add a new category</h1>

<%= simple_form_for (@category) do |f| %>
<%= f.input :name, placeholder: "The category name..." %>
<%= f.submit class: "btn btn-flat" %>
<% end %>
<div>
<%= link_to 'Back to Home', categories_path, class: "btn btn-flat" %>
</div>
</div>
